body{
    background:linear-gradient(to right, #81d8f6 , #2867be); 
    width: 70%;
    height: 70%;
}

.view{
 position: absolute;
  background: white;
  height: 85%;
  width: 96%;
  top:10%;
  left: 2%;
  border:1px solid black;
}

.box1{
    height: 50%;
    width: 50%;
    background:linear-gradient(to right, #81d8f6 , #2867be);
    position: absolute;
    top: 10px;
    left: 10px;
    display: block;
    border:1px solid black;
    border-radius: 10px 10px 10px 10px;
}

.fas{
    color:white;
    font-size: 20px;
    position: absolute;
}

.fa-caret-up{
    left: calc(50% - 10px);
}
.fa-caret-left {

    left: 0;

    top: calc(50% - 15px);

}

.fa-caret-right {

    right: 0;

    top: calc(50% - 15px);

}

.fa-caret-down {

    bottom: 0;

    left: calc(50% - 15px);

}

.drop{
    position: absolute;
    left:60%;
    border: 2px solid black;
    height: 400px;
    width: 400px;
    -moz-window-dragging: 'true';
}

.wrap{
    float: left;
    height:400px;
    width: 700px;
   
}

.fa-minus{
    right:65px;
}

.fa-window-maximize{
    right:35px;
}

.fa-window-close{
    right:5px;
    color:white;
}